# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods (non in uso, ma per sicurezza)
Pods/

# Carthage (non in uso, ma per sicurezza)
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode auto-generato
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Profili / firme
*.mobileprovision
*.cer
*.p12
